{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="row mt-5 justify-content-center">Create Category</h3>

    {{ form_start(form) }}
    <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
            <div class="form-group mt-3">
                <div class="form-group">
                    <label for="category">Category Name:</label>
                    {{ form_widget(form.cateName,{
                        'attr':{
                            'class':'form-control',
                        }
                    }) }}
                </div>
            </div>
            <br>
            <div class="text-center">
                <input type="submit" name="create_category" value="Create" class="btn btn-success"/>
            </div>
            <br>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}